.advantages {
   min-height: 900px;

   &__wrapper {
      max-width: 1170px;
      margin: 0 auto;
      padding-top: 71px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 43px;
   }

   &__title {
      max-width: 112px;
      margin: 0 auto;
      margin-bottom: 26px;
      padding: 4px 0;
      font-weight: 100;
      font-size: 11px;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      background-color: #000000;
   }

   &__subtitle {
      margin-bottom: 26px;
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      color: #222222;
      text-transform: uppercase;
      text-align: center;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      padding-left: 35px;
      list-style: none;
   }

   &__item {
      position: relative;
      width: calc(50% - 30px);
      margin-right: 60px;
      margin-bottom: 27px;
      padding-left: 139px;

      @for $i from 1 to 9 {
         &:nth-of-type(#{$i}) .advantages__icon {
            background-image: url("../images/advantages-#{$i}.png");
         }
      }

      &:nth-child(even) {
         margin-right: 0;
      }

      &-title {
         margin-bottom: 2px;
         font-weight: 400;
         font-size: 17px;
         line-height: 21px;
         color: #1eacc7;
      }
   }

   &__icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 113px;
      height: 113px;
      border-radius: 50%;
      background-color: #1eacc7;
      background-image: url("../images/advantages-1.png");
      background-position: center;
      background-repeat: no-repeat;
   }

   &__info {
      margin-bottom: 0;
      font-size: 15px;
      line-height: 21px;
      color: #202020;
   }
}

@media (max-width: 768px) {
   .advantages {

      &__list {
         flex-wrap: wrap;
         padding: 0;
      }

      &__item {
         width: 100%;
         margin-right: 0;
         margin-bottom: 40px;
      }
   }
}

@media (max-width: 564px) {
   .advantages {

      &__wrapper {
         padding-top: 40px;
         padding-bottom: 40px;
      }

      &__subtitle {
         font-size: 30px;
      }

      &__item {
         padding-left: 0;
         padding-top: 120px;
         text-align: center;
      }

      &__icon {
         left: 50%;
         transform: translateX(-50%);
      }
   }
}
