.conditions {
   min-height: 919px;

   &__wrapper {
      max-width: 1170px;
      margin: 0 auto;
      padding-top: 69px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 71px;
   }

   &__title {
      max-width: 112px;
      margin: 0 auto;
      margin-bottom: 21px;
      padding: 4px 0;
      font-weight: 100;
      font-size: 11px;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      background-color: #000000;
   }

   &__subtitle {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      color: #222222;
      text-transform: uppercase;
      text-align: center;
   }

   &__flex {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
   }

   &__flex-item {
      width: calc(50% - 12px);
      padding-left: 8px;
      margin-right: 24px;
      margin-bottom: 38px;

      &:nth-child(even) {
         margin-right: 0;
      }

      &:nth-last-child(1),
      &:nth-last-child(2) {
         margin-bottom: 0;
      }
   }

   &__name {
      margin-bottom: 13px;
      font-size: 22px;
      line-height: 24px;
      color: #1ca8c3;

      &--red {
         color: #ff5656;
      }
   }

   &__list {
      margin-bottom: 0;
      padding-left: 50px;
      font-size: 17px;
      line-height: 24px;
      color: #222222;
      list-style: none;
   }

   &__item {
      position: relative;
      margin-bottom: 10px;

      &::before {
         content: "";
         position: absolute;
         top: 2px;
         left: -31px;
         width: 20px;
         height: 20px;
         border: 2px solid #1ca8c3;
         border-radius: 50%;
      }

      &::after {
         content: "";
         position: absolute;
         top: 5px;
         left: -26px;
         width: 14px;
         height: 8px;
         border-bottom: 2px solid #1ca8c3;
         border-left: 2px solid #1ca8c3;
         transform: rotate(-45deg);
      }

      &--red {
         &::before {
            border: 2px solid #ff5656;
         }

         &::after {
            border-bottom: 2px solid #ff5656;
            border-left: 2px solid #ff5656;
         }
      }
   }

   &__info {
      font-size: 17px;
      line-height: 24px;
      color: #1ca8c3;
   }
}

@media (max-width: 564px) {
   .conditions {

      &__wrapper {
         padding-top: 40px;
         padding-bottom: 40px;
      }

      &__subtitle {
         font-size: 30px;
      }
   }
}

@media (max-width: 768px) {
   .conditions {

      &__flex {
         flex-direction: column;

         &-item {
            width: auto;
            margin-right: 0;
            padding-left: 0;
         }
      }
   }
}
