.opportunities {
   min-height: 864px;
   background-image: url("../images/pattern.png");

   &__wrapper {
      max-width: 1170px;
      margin: 0 auto;
      padding-top: 48px;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 61px;
   }

   &__title {
      max-width: 112px;
      margin: 0 auto;
      margin-bottom: 26px;
      padding: 4px 0;
      font-weight: 100;
      font-size: 11px;
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      background-color: #000000;
   }

   &__subtitle {
      margin-bottom: 7px;
      font-weight: 700;
      font-size: 38px;
      line-height: 48px;
      color: #222222;
      text-transform: uppercase;
      text-align: center;
   }

   &__text {
      margin-bottom: 31px;
      font-size: 17px;
      line-height: 21px;
      text-align: center;
      color: #222222;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      max-width: 1095px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
   }

   &__item {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 320px;
      height: 280px;
      margin-bottom: 19px;
      padding-bottom: 35px;
      padding-top: 86px;
      text-align: center;

      @for $i from 1 to 9 {
         &:nth-of-type(#{$i}) {
            background-image: url("../images/opportunity-#{$i}.png");
         }
      }

      &-title {
         margin-bottom: 10px;
         font-weight: 400;
         font-size: 24px;
         line-height: 31px;
         color: #ffffff;
         text-transform: uppercase;
      }
   }

   &__add-btn {
      position: relative;
      width: 26px;
      height: 26px;
      padding: 0;
      border: none;
      border-radius: 50%;
      background-color: #000000;

      &::before,
      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;
         width: 2px;
         height: 14px;
         background-color: #1eacc7;
         transform: translate(-50%, -50%);
      }

      &::after {
         transform: translate(-50%, -50%) rotate(-90deg);
      }
   }
}

@media (max-width: 768px) {
   .opportunities {
      &__list {
         justify-content: space-around;
      }
   }
}

@media (max-width: 564px) {
   .opportunities {
      &__wrapper {
         padding-top: 40px;
         padding-bottom: 40px;
      }

      &__subtitle {
         font-size: 28px;
      }
   }
}
