@import "libs/bootstrap-reboot";
@import "fonts";
@import "default";
@import "blocks/header";
@import "blocks/advantages";
@import "blocks/opportunities";
@import "blocks/choose";
@import "blocks/slider";
@import "blocks/conditions";
@import "blocks/map";
@import "blocks/footer";